
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



@media screen and (max-width: 400px) {

    body {
        font-family: "Inter", serif;
    }

    section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 14px;
        padding-top: 30px;
        gap: 28px;
    }
    .garbage-container {
        background-color: #F0F7FE;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        gap: 20px;
        border-radius: 8px;
        padding-left: 20px;
        padding-right: 10px;
        padding-bottom: 30px;
        box-shadow: 1px 2px 2px 1px #bbb9b9;
    }

    .recon {
        display: flex;
        flex-direction: column;
        gap: 7px;
        padding-bottom: 10px;
    }

    .recon p {
        color: #1f528f;
        font-size: 14px;
        font-family: "Inter", serif;
    }

    .recon h1 {
        color: #1f528f;
        font-size: 25px;
        font-weight: 700;
        font-family: "Inter", serif;

    }

    .gallon {
        display: flex;
        flex-direction: column;
        gap: 7px;
        padding-bottom: 10px;

    }

    .gallon h1 {
        color: #1f528f;
        font-size: 21px;
        font-weight: 700;
        font-family: "Inter", serif;
    }

    .gallon p {
        font-size: 15px;
        font-family: "Inter", serif;
    }

    .cap {
        display: flex;
        gap: 2px;
        align-items: center;
    }

    .cap img {
        width: 30px;
    }

    .bgtext {
        font-weight: 700;
        margin-left: 5px;

    }

    .cap-cont {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    i {
        color: #1f528f;
        font-size: 20px;
    }

    
}
