
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Inter", serif;
    /* transition: all 0.4s ease-in-out !important; */
}

.mobile{
    display: none;
}

nav{
    position: fixed;
    background: white;
    width: 100vw;
    z-index: 10000;
}

.nav_button{
    transition: all 0.3s ease-in-out;
}

.nav_button:hover{
    background-color: #175e45;
}

ul li{
    padding: 6px 16px;
    transition: all 0.3s ease-in-out;
    text-transform: capitalize;

}

ul li:hover{
    background: rgba(0, 0, 0, 0.047);
    border-radius: 10px;
}

.nav-start {
    background-color: #018630;
    color: #fff;
    width: 100%;
    border-radius: 8px;
    font-weight: 500;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.hero{
    height: 100vh;
}

.hero h1{
    color: #3b3b3b;
    font-size: 14px;
}

section button{
    padding: 10px 16px;
    border: none;
    border-radius: 10px;
    color: white;
}

.start{
    background: #018630;
    padding: 10px 60px;
    color: white;
    border-radius: 10px;


}

.hero-action .quote{
    background: #1f528f;
}

.hero-action .start:hover{
    background: #175e45;
}

.hero-action .quote:hover{
    background: #00416d;
}

.hero_image{
    width: 50%;
}

.service-box {
    width: 45%;
    cursor: pointer;
    transition: all 0.3s ease-in-out !important;
    border-radius: 20px;
    padding: 10px;
    background: #00000014;
    
}

.service-box:hover{
    background: #00000090;
    box-shadow: 10px 10px 10px 1px #00000034;
    color:white;
    scale: 1.03;
}

/* Targeting the SVG directly */
.svg {
    width: 15px;        /* Change width */
    height: 14px;     /* Change the color of the whole SVG */
    transition: transform 0.3s ease;  
    margin-left: auto;
  }

  .svg path{
    fill: rgb(0, 0, 0);
  }
  
  .service-box:hover .svg path {
    fill: white;
  }

  .login_img{
    background: url(./images/picking\ up.jpeg);
    height: 100vh;
    background-repeat: no-repeat;
    width: 50%;
    background-size: cover;
  }

  .login_form input:focus{
outline: 1px solid #018630;
  }

  footer{
   background: #00416d;
   display: flex;
   gap: 20px;
   color: white;
   padding: 80px !important;
  }

  footer a{
    color: white;
  }

@media screen and (max-width: 400px) {
    .nav-container {
        width: 100%;
        /* position: fixed; */
        z-index: 9999;
        /* border-bottom: 1px solid rgb(209, 203, 203); */
        box-shadow: 2px 1px 1px 1px rgb(211, 210, 210);
        background-color: #fff;
        
    }

    .start-buttons {
        display: none;
    }

    .navbar {
        
        position: relative;
      
    }
    .navbar .toggle {
        /* background-color: #333; */
        border: none;
        color: white;
        font-size: 20px;
        cursor: pointer;
        padding: 2px;

    }
    .navbar .menu {
        display: none; /* Initially hidden */
        flex-direction: column;
        background-color: #333;
        max-height: 0; /* Set initial height to 0 for transition */
        overflow: hidden;
        transition: max-height 0.5s ease; /* Smooth transition */
        position: absolute; /* Position the menu absolutely */
        top: 100%; /* Position it below the navbar */
        left: 0; /* Align to the left */
        right: 0; /* Align to the right */
        z-index: 10; /* Ensure it appears above other content */
        width: 360px;
        margin-left: -311px;
        margin-top: 20px;
        padding-bottom: 40px;
      
        
    }
    .navbar .menu.show {
        display: flex; /* Show flex when active */
        max-height: 300px; /* Adjust according to content */
    }
    .navbar .menu a {
        padding: 15px;
        text-decoration: none;
        color: white;
        border-bottom: 1px solid #444;
    }

    .mobile{
        display: block;
    }
        
    h4 {
        color: #1f528f;
    }

    .hero {
        background-attachment: scroll;
    }
    .hero h1 {
        color: #1f528f;
        font-size: 36px;
        font-weight: 700;
        line-height: 39px;
    }

    .hero_image{
        width: 100%;
    }

    .start {
        background-color: #018630;
        color: #fff;
        width: 100%;
        border-radius: 8px;
        font-weight: 500;
        height: 40px;
    }

    .quote {
        color: #1f528f;
        width: 100%;
        border-radius: 8px;
        font-weight: 500;
        height: 40px;
        border: 1px solid #1f528f;
        background-color: #fff;
    }
    .quote:hover {
        background-color: #1f528f;
        border: none;
        color: #fff;
    }

    .service-box {
        width: 35%;
        /* height: 300px; */
        border-radius: 8px;
        box-shadow: 1px 2px 2px 1px #bbb9b9;
        /* border: 1px solid rgb(149, 144, 144); */
        /* padding-left: 20px; */
        /* padding-top: 10px; */
        cursor: pointer;
        transition: all 0.3s ease !important;
        
    }

    .service-box.green:hover {
        border: 2px solid #018630;
        box-shadow: none;
    }
    
    .service-box.blue:hover {
        border: 2px solid #1f528f;
        box-shadow: none;
    }
    
    .service-box.black:hover {
        border: 2px solid #000000;
        box-shadow: none;
    }
    
    .title-green {
        color: #018630;
    }
    
    .title-blue {
        color: #1f528f;
    }
    
    .title-black {
        color: #000000;
    }

    .comm {
        color: #018630;
    }

    .res {
        color: #1f528f;
    }

    footer {
        background-color: #00416d; /* Dark gray background */
    }
    
    footer a {
        color: #ffffff; /* White text for links */
        transition: color 0.3s ease; /* Smooth transition for hover effect */
    }
    
    footer a:hover {
        scale: 1.05;
    }
    
    footer h2, footer h3 {
        margin-bottom: 0.5rem; /* Space below headings */
    }
    
    footer p {
        margin-bottom: 0.5rem; /* Space below paragraphs */
    }

    .green-svg {
        fill: #175e45 !important;
    }
    
    .blue-svg {
        fill: #1f528f !important;
    }
    .login_img{
        display: none;
    }
    
    .login_form{
        width: 90vw;
    }
}
